.land {
  fill           : #FFFFFF;
  stroke-opacity : 1;
}

.labels {
    font    : 8px sans-serif;
    fill    : black;
    opacity : .5;
    display : none;
}

.noclicks { 
	pointer-events : none; 
}

.feature {  
  opacity        : .6;
  stroke         : white;
  stroke-width   : 1.1px;
  stroke-opacity : .4;
}

  
