.land { /* Class applied to the countries mapped on the globe */
  fill           : #FFFFFF;
}

.feature {  /* Class applied to the points mapped on the globe */
  opacity        : .6;
  stroke         : white;
  stroke-width   : 1.1px;
  stroke-opacity : .4;
}

.noclicks { /* Utility class to prevent handlers from triggering on an element */
	pointer-events : none; 
}


